*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  /*  чтобы не пропадал вериткальный скролл
      при отсутствии данных в расписании
      сделаем страницу чуть больше высоты вьюпорта  */ 
  min-height: 102vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background: #e61400;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__logo {
  text-align: center;
  color: white;
  font-size: 30px;
}

.header__title {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.schools-controller {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.schools-controller input {
  display: none;
}

.shools-controller__title {
  width: 100%;
}

.schools-controller label {
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 40px;
  margin-bottom: 10px;
}

.speaker-controller {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.speaker-controller__title {
  flex: 0 0 100%;
}

.speaker-controller__label {
  flex: 1 1 180px;
  font-size: 14px;
  cursor: pointer;
  padding: 3px 5px 3px 30px;
  margin: 3px 5px;
  white-space: nowrap;
  transition: background-color 0.3s;
  border-radius: 0.4em;
}

.schools-controller label:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 0.2em;
  border: 2px solid grey;
}

.schools-controller input:checked+label {
  background: url("./img/icon-check.svg") no-repeat;
  background-position: 10px center;
}

.speaker-controller__input {
  display: none;
}

.speaker-controller__input:checked+.speaker-controller__label {
  background-color: #ffc107;
  opacity: 1;
  background-image: url("./img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 0.8em;
}

.speaker-controller__label:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}

.speaker-controller__label:not(:checked)+.speaker-controller__label:active {
  background-color: #ffc107;
  opacity: 1;
  background-image: url("./img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 0.8em;
}

.speaker-controller__input:checked+.speaker-controller__label--all {
  background-color: #82b5e2;
}

.speaker-controller__input:not(:checked)+.speaker-controller__label--all {
  background-color: lightblue;
}

.date-controller__input-wrapper {
  display: inline-block;
  margin: 0 20px 10px 0;
}

.date-controller__label {
  margin-right: 10px;
}

.lectures {
  display: table;
  width: 100%;
}

.lectures__item {
  display: table-row;
  transition: 0.4s;
}

.lectures__item>div {
  display: table-cell;
  padding: 5px 10px;
  vertical-align: middle;
  border-bottom: 1px solid grey;
}

.lectures__date {
  width: 120px;
  text-align: center;
}

.lectures__year {
  width: 100%;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 14px;
}

.lectures__day {
  font-size: 20px;
  font-weight: bold;
}

.lectures__time {
  font-size: 20px;
  font-weight: bold;
}

.lectures__speaker {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
  color: black;
  transition: 0.3s;
  margin-bottom: 5px;
}

.lectures__speaker:hover {
  color: #e61400;
}

.lectures__schools {
  min-width: 250px;
}

.lectures__school {
  font-size: 14px;
  margin-bottom: 2px;
}

.lectures__video,
.lectures__materials {
  display: block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.2em;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-bottom: 5px;
  transition: 0.3s;
}

.lectures__video:hover,
.lectures__materials:hover {
  color: white;
  background: #e61400;
  border: 1px solid transparent;
}

@media (max-width: 800px) {
  .lectures {
    display: block;
  }
  .lectures__date {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-bottom: 1px solid #e61400;
    z-index: 10;
    vertical-align: middle;
    background: white;
  }
  .lectures__year {
    display: inline-block;
    width: auto;
  }
  .lectures__day {
    font-weight: normal;
  }
  .lectures__time {
    display: block;
  }
  .lectures__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .lectures__item:after {
    content: '';
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e61400;
    z-index: 1;
  }
  .lectures__item>div {
    border: none;
    padding-left: 0;
  }
  .lectures__video,
  .lectures__materials {
    display: inline-block;
  }
}